In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

from sklearn.metrics import accuracy_score
from sklearn.metrics import make_scorer

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data_path = "Data/"
raw_df = pd.read_csv(data_path+"preprocessed.csv")
raw_df.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,work class labels,marital-status labels,occupation labels,relationship labels,race labels,sex labels,native-country labels,income class
0,39,77516,13,2174,0,40,5,4,0,1,4,1,38,0
1,50,83311,13,0,0,13,4,2,3,0,4,1,38,0
2,38,215646,9,0,0,40,2,0,5,1,4,1,38,0
3,53,234721,7,0,0,40,2,2,5,0,2,1,38,0
4,28,338409,13,0,0,40,2,2,9,5,2,0,4,0

## Separate features and targets

In [3]:
df = raw_df.copy()
features = df.iloc[:,:-1]
targets = df.iloc[:,-1:]

In [4]:
features.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,work class labels,marital-status labels,occupation labels,relationship labels,race labels,sex labels,native-country labels
0,39,77516,13,2174,0,40,5,4,0,1,4,1,38
1,50,83311,13,0,0,13,4,2,3,0,4,1,38
2,38,215646,9,0,0,40,2,0,5,1,4,1,38
3,53,234721,7,0,0,40,2,2,5,0,2,1,38
4,28,338409,13,0,0,40,2,2,9,5,2,0,4

In [5]:
targets.head()

   income class
0             0
1             0
2             0
3             0
4             0

## ML

In [7]:
scorer = make_scorer(accuracy_score) 
# Flatten data 
# targets = np.ravel(targets)

### Logistic Regression

In [8]:
clf = LogisticRegression(random_state=42)
scores = cross_val_score(clf, features, targets, cv=10)
print(scores)

/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[0.78377183 0.77979217 0.78350287 0.79522335 0.78836798 0.79522335
 0.79057939 0.78726227 0.79080053 0.77996462]

/home/bzeeno/Dev/Data-Science/Projects/VirtualEnvironment/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

### Adaboost