In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import PlotFunctions
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

sns.set()

In [2]:
# List of column names
column_names = ["age","work class","fnlwgt","education","education-num","marital-status","occupation",
                "relationship","race","sex","capital-gain","capital-loss","hours-per-week",
                "native-country", "income class"]

Merge the test and train datasets since I'll probably use cross validation rather than a train-test split

In [3]:
data_path = "Data/"
raw_data1 = pd.read_csv(data_path+"adult.data", names=column_names,skipinitialspace=True)
raw_data2 = pd.read_csv(data_path+"adult.test", names=column_names,skipinitialspace=True)
raw_data_combined = pd.concat([raw_data1, raw_data2])
raw_data_combined.reset_index(drop=True, inplace=True)
raw_data_combined.head()

,age,work class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
raw_data_combined.shape

(48842, 15)

In [5]:
data = raw_data_combined.copy()

In [6]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

## Deal with missing data

In [7]:
# Look for how missing values are denoted
for col in data:
    print(np.unique(getattr(data,col).values))

[17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40
 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64
 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88
 89 90]
['?' 'Federal-gov' 'Local-gov' 'Never-worked' 'Private' 'Self-emp-inc'
 'Self-emp-not-inc' 'State-gov' 'Without-pay']
[  12285   13492   13769 ... 1455435 1484705 1490400]
['10th' '11th' '12th' '1st-4th' '5th-6th' '7th-8th' '9th' 'Assoc-acdm'
 'Assoc-voc' 'Bachelors' 'Doctorate' 'HS-grad' 'Masters' 'Preschool'
 'Prof-school' 'Some-college']
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]
['Divorced' 'Married-AF-spouse' 'Married-civ-spouse'
 'Married-spouse-absent' 'Never-married' 'Separated' 'Widowed']
['?' 'Adm-clerical' 'Armed-Forces' 'Craft-repair' 'Exec-managerial'
 'Farming-fishing' 'Handlers-cleaners' 'Machine-op-inspct' 'Other-service'
 'Priv-house-serv' 'Prof-specialty' 'Protective-serv' 'Sales'
 'Tech-support' 'Transport-moving']
['Husband' 'Not-in-family' 'Other-relative' 'Own-child' 'Unmarried' 'Wife']
['Amer-Indian-Eskimo' 'Asian-Pac-Islander' 'Black' 'Other' 'White']
['Female' 'Male']
[    0   114   401   594   914   991  1055  1086  1111  1151  1173  1264
  1409  1424  1455  1471  1506  1639  1731  1797  1831  1848  2009  2036
  2050  2062  2105  2174  2176  2202  2228  2290  2329  2346  2354  2387
  2407  2414  2463  2538  2580  2597  2635  2653  2829  2885  2907  2936
  2961  2964  2977  2993  3103  3137  3273  3325  3411  3418  3432  3456
  3464  3471  3674  3781  3818  3887  3908  3942  4064  4101  4386  4416
  4508  4650  4687  4787  4865  4931  4934  5013  5060  5178  5455  5556
  5721  6097  6360  6418  6497  6514  6612  6723  6767  6849  7262  7298
  7430  7443  7688  7896  7978  8614  9386  9562 10520 10566 10605 11678
 13550 14084 14344 15020 15024 15831 18481 20051 22040 25124 25236 27828
 34095 41310 99999]
[   0  155  213  323  419  625  653  810  880  974 1092 1138 1258 1340
 1380 1408 1411 1421 1429 1485 1504 1510 1539 1564 1573 1579 1590 1594
 1602 1617 1628 1648 1651 1668 1669 1672 1719 1721 1726 1735 1740 1741
 1755 1762 1816 1825 1844 1848 1870 1876 1887 1902 1911 1944 1974 1977
 1980 2001 2002 2042 2051 2057 2080 2129 2149 2163 2174 2179 2201 2205
 2206 2231 2238 2246 2258 2267 2282 2339 2352 2377 2392 2415 2444 2457
 2465 2467 2472 2489 2547 2559 2603 2754 2824 3004 3175 3683 3770 3900
 4356]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 72 73
 74 75 76 77 78 79 80 81 82 84 85 86 87 88 89 90 91 92 94 95 96 97 98 99]
['?' 'Cambodia' 'Canada' 'China' 'Columbia' 'Cuba' 'Dominican-Republic'
 'Ecuador' 'El-Salvador' 'England' 'France' 'Germany' 'Greece' 'Guatemala'
 'Haiti' 'Holand-Netherlands' 'Honduras' 'Hong' 'Hungary' 'India' 'Iran'
 'Ireland' 'Italy' 'Jamaica' 'Japan' 'Laos' 'Mexico' 'Nicaragua'
 'Outlying-US(Guam-USVI-etc)' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto-Rico' 'Scotland' 'South' 'Taiwan' 'Thailand' 'Trinadad&Tobago'
 'United-States' 'Vietnam' 'Yugoslavia']
['<=50K' '<=50K.' '>50K' '>50K.']

In [8]:
indices_to_drop = []

for col in data:
    for i,val in enumerate(data[col]):
        if(val == '?' or val == ' ?'):
            indices_to_drop.append(i)

indices_to_drop = list(set(indices_to_drop))
print(indices_to_drop)
print(len(indices_to_drop))

[8193, 24579, 24580, 14, 16399, 8207, 24592, 16404, 32789, 32790, 16410, 27, 8222, 24606, 8225, 16417, 40993, 32806, 38, 32814, 8241, 51, 16439, 32827, 24636, 61, 32829, 32835, 24644, 69, 16454, 16456, 77, 24662, 8282, 93, 32866, 16488, 8297, 106, 16490, 32877, 24686, 16500, 24694, 24695, 32890, 32892, 128, 24704, 8322, 16515, 24714, 16523, 32911, 149, 16535, 154, 24735, 160, 8356, 32939, 8364, 8365, 24750, 24752, 16566, 24760, 41145, 187, 32955, 32958, 8387, 32964, 24773, 16583, 41160, 201, 24779, 24781, 32974, 16595, 24787, 41172, 32981, 16602, 24796, 221, 32990, 41182, 226, 32995, 41187, 32998, 24809, 41194, 41196, 8429, 24813, 243, 24821, 245, 41209, 249, 16635, 24828, 8446, 8447, 24832, 16642, 41221, 33031, 16647, 33032, 266, 41228, 16659, 8472, 41242, 8477, 16679, 41255, 297, 33066, 24875, 24876, 41260, 41263, 8499, 33076, 33077, 41271, 312, 41274, 24890, 24891, 24894, 41282, 326, 24902, 24913, 8532, 16725, 346, 347, 16731, 24923, 8543, 354, 41314, 33124, 16743, 41321, 16748, 41324, 16750, 16755, 8565, 24949, 41334, 16760, 16762, 24960, 41346, 393, 41355, 397, 33165, 41364, 33173, 24980, 408, 16794, 16798, 8607, 16802, 33187, 24998, 16810, 430, 431, 33198, 16817, 25009, 33201, 33202, 41397, 41398, 33208, 41400, 33209, 16827, 8636, 449, 33218, 8643, 16835, 41412, 16838, 453, 41409, 33225, 25034, 459, 33226, 25044, 41430, 471, 25046, 41436, 25053, 16862, 25056, 8673, 33248, 484, 25060, 486, 33254, 25067, 16878, 33264, 16381, 499, 8692, 25076, 8694, 41461, 33278, 511, 515, 517, 518, 41477, 33289, 41482, 16907, 25099, 25105, 25112, 41498, 539, 25122, 41514, 8749, 25134, 33326, 557, 33329, 8757, 8764, 33342, 576, 8769, 41536, 580, 16966, 25163, 41549, 590, 591, 8782, 16975, 16978, 596, 8788, 16984, 8795, 33377, 25186, 8805, 8822, 17015, 25208, 41591, 41593, 33404, 17021, 25216, 17030, 648, 25225, 8847, 656, 17039, 41615, 25235, 41617, 8853, 25238, 25241, 33434, 668, 671, 33441, 8871, 41642, 41644, 686, 25266, 41650, 41652, 25270, 695, 25275, 41663, 33474, 33476, 8903, 17096, 712, 17098, 8908, 25295, 33487, 25296, 8915, 17107, 725, 33494, 25303, 8920, 41689, 729, 734, 41696, 25313, 41698, 25321, 41706, 41705, 8940, 17132, 33521, 8949, 8954, 25342, 8963, 33542, 41736, 777, 780, 41740, 25359, 17168, 788, 789, 792, 8985, 33561, 33563, 33566, 8991, 41760, 33569, 33570, 8996, 806, 17193, 811, 33579, 41772, 17201, 25397, 33590, 9015, 17209, 830, 33599, 834, 9028, 33604, 9030, 41800, 25417, 33609, 41804, 25424, 9040, 41812, 25430, 41814, 33624, 41818, 17247, 41823, 25441, 41835, 25457, 25458, 885, 887, 890, 41850, 17274, 17279, 41857, 25478, 903, 33681, 9106, 17299, 41873, 25491, 33688, 41880, 33691, 924, 25504, 17314, 931, 33703, 41895, 17321, 41900, 17326, 25519, 9138, 25522, 9140, 9141, 25524, 33717, 41914, 9147, 9148, 41915, 955, 33724, 33728, 25537, 33730, 9155, 17347, 41922, 41918, 41928, 969, 33738, 25549, 9170, 41941, 982, 41942, 41943, 9178, 33758, 25568, 17378, 33766, 25574, 25578, 9197, 17391, 25588, 41975, 41978, 1019, 9211, 9214, 1026, 17412, 17414, 1034, 1035, 33802, 1036, 41998, 1039, 41996, 25619, 33812, 9237, 1046, 33819, 33820, 9245, 25629, 25636, 17452, 17462, 33846, 17470, 25669, 42054, 42055, 1097, 17481, 33867, 1100, 9293, 42062, 17482, 42057, 25685, 1115, 42077, 17505, 42085, 33894, 25703, 1131, 9324, 33899, 1134, 17531, 9340, 9342, 25726, 1152, 17537, 42112, 33923, 33925, 1158, 9351, 33928, 9353, 42124, 9358, 1167, 42128, 42127, 33938, 25748, 9366, 1175, 9367, 25755, 1180, 42141, 1185, 42145, 42146, 33956, 25772, 33966, 1199, 17587, 42163, 1208, 42168, 17594, 33978, 42169, 1215, 1217, 9409, 33988, 42184, 1224, 25802, 9418, 42186, 25806, 33999, 42195, 25813, 42197, 17623, 25819, 42209, 25826, 17635, 1252, 34026, 17643, 9452, 17644, 1262, 25835, 17648, 17647, 25841, 42228, 25846, 34041, 25853, 1282, 9477, 1290, 9484, 25870, 9490, 42259, 25877, 9500, 42269, 9503, 1312, 34083, 42276, 1317, 34085, 17708, 1325, 17710, 25902, 34096, 42284, 1326, 17717, 42296, 9531, 17723, 17725, 42300, 9536, 9537, 1347, 1348, 1349, 42311, 25928, 25929, 25930, 34121, 42313, 9549, 9557, 17750, 9559, 17752, 42328, 1371, 17757, 17762, 9577, 34154, 1388, 17773, 9582, 34156, 1391, 9580, 34167, 25976, 34168, 42363, 1404, 25980, 17790, 34173, 42368, 34176, 34186, 34187, 1420, 9616, 17811, 26007, 42392, 1433, 9626, 34202, 26012, 9624, 34204, 1441, 42402, 42410, 1452, 17837, 1458, 9650, 34226, 26040, 34242, 26051, 42436, 42434, 17876, 34261, 17882, 42459, 1504, 26081, 42465, 17894, 9703, 9708, 26093, 17902, 9712, 17905, 34294, 34307, 26119, 1544, 34311, 9739, 26127, 1554, 1557, 42517, 26137, 1562, 26143, 34335, 1569, 1570, 26145, 34339, 34341, 1574, 1579, 34348, 1581, 42543, 34352, 9778, 26163, 1592, 1593, 34362, 9787, 9785, 34361, 42562, 1606, 34374, 9799, 34382, 34383, 34389, 26197, 18008, 34393, 18010, 34395, 42585, 1629, 34398, 42589, 34392, 18019, 26221, 42608, 26225, 18036, 1656, 34424, 42617, 34427, 9849, 26234, 1665, 42626, 9860, 26244, 18056, 9866, 1676, 42637, 9872, 18065, 26259, 34454, 9885, 26271, 42661, 1704, 1707, 18094, 26287, 42671, 1711, 9907, 42677, 26295, 26296, 34500, 42693, 9926, 9927, 26312, 34505, 1738, 34501, 9938, 34516, 42711, 26331, 26332, 42717, 1758, 1761, 26348, 1773, 34543, 18161, 1778, 42738, 18164, 42740, 26363, 9985, 9987, 18181, 26373, 26375, 26377, 42762, 42766, 42768, 18194, 42775, 34584, 18201, 1818, 10011, 10013, 1823, 10015, 10016, 26405, 18217, 18218, 26410, 34603, 26416, 42802, 10035, 26421, 1846, 18232, 34616, 42809, 1851, 18236, 18233, 34621, 18244, 42822, 10056, 1865, 42826, 42827, 10062, 42831, 10064, 18257, 26450, 18259, 42833, 26446, 1878, 34649, 26460, 34653, 42846, 34656, 18277, 34667, 1900, 10094, 10098, 10102, 18294, 34678, 26489, 34683, 10110, 42879, 1923, 10117, 26503, 1931, 10126, 42894, 26512, 26513, 18322, 26522, 10139, 18331, 42906, 10143, 18337, 34721, 34724, 42916, 18342, 42924, 42925, 10161, 1971, 18356, 26549, 18358, 18362, 18365, 1987, 26566, 1990, 10182, 10184, 34762, 26569, 18384, 18386, 42969, 26586, 2015, 34787, 34789, 26598, 26599, 2025, 18409, 10218, 18412, 10222, 42992, 2036, 42997, 10232, 26616, 2046, 34816, 18438, 34824, 2061, 10253, 2072, 34842, 18459, 43035, 43036, 18466, 2084, 26661, 18470, 2091, 2094, 10288, 34865, 2099, 2104, 2105, 26681, 43069, 34878, 26687, 18496, 26688, 34884, 2118, 2126, 34894, 10328, 43100, 34910, 10342, 18534, 2152, 10343, 2155, 18541, 34925, 43120, 10353, 2163, 2164, 10361, 43131, 18555, 18560, 43139, 18564, 2181, 26762, 18577, 26776, 18585, 34971, 34976, 34977, 2210, 10403, 2213, 43173, 18599, 18600, 26791, 10408, 10411, 18604, 43181, 2222, 26800, 18615, 34999, 10425, 18622, 35008, 10437, 10440, 26838, 43227, 10460, 35037, 18655, 43231, 43234, 2281, 35049, 10475, 35053, 35055, 18672, 26866, 35059, 2292, 10485, 10486, 18677, 35068, 43260, 35071, 43271, 2323, 35092, 26900, 2327, 43287, 35097, 35100, 18720, 43299, 2340, 35108, 35112, 18730, 10539, 26924, 35117, 26922, 26928, 2354, 10546, 2356, 43317, 2358, 2359, 26940, 18750, 43328, 18753, 2371, 2372, 35140, 35145, 10570, 2380, 2382, 26958, 10574, 35154, 10581, 43356, 2397, 43362, 26979, 35173, 26982, 18794, 26986, 26992, 2420, 18805, 26998, 35190, 2427, 35195, 27009, 43394, 35203, 27018, 35211, 35212, 10634, 27022, 27019, 35216, 43402, 43411, 10647, 35227, 18846, 27038, 2464, 43432, 27051, 2476, 10673, 10674, 43444, 2486, 10679, 10681, 35257, 2491, 10683, 10684, 43451, 43452, 2496, 27068, 35263, 2506, 10700, 27085, 27086, 10704, 2513, 35282, 43475, 2512, 10709, 2518, 2521, 18906, 10715, 27100, 18909, 10718, 18912, 27107, 18923, 18924, 43502, 2544, 18931, 2549, 18934, 10745, 10746, 35321, 27133, 18942, 27140, 27141, 2566, 35335, 18952, 27144, 2570, 2571, 35336, 35339, 2572, 10762, 2578, 43539, 18964, 10777, 2586, 2587, 35358, 2591, 10784, 10782, 2594, 35365, 18982, 35369, 27179, 43564, 18989, 2606, 18992, 10805, 27201, 10820, 2632, 2634, 10828, 2638, 2639, 35409, 10837, 27225, 10845, 19037, 43615, 19041, 19046, 10856, 19055, 2673, 19058, 2676, 35446, 2689, 10881, 19073, 27265, 27267, 35463, 19090, 43670, 35481, 2717, 27299, 27305, 43690, 43693, 2735, 10931, 10932, 27317, 27321, 35516, 19133, 19134, 2751, 27331, 35526, 2760, 2761, 10955, 10959, 19153, 27350, 2775, 19168, 19169, 35556, 2794, 19180, 35565, 27376, 43762, 10995, 27382, 27383, 11001, 35579, 35585, 27395, 43785, 35598, 43791, 11027, 19230, 2847, 11039, 19233, 27426, 35621, 11046, 43814, 2856, 2857, 2858, 19240, 35628, 19245, 11056, 11059, 35635, 19253, 19255, 19256, 27452, 35644, 35651, 2885, 43846, 27466, 11085, 11087, 35663, 27475, 19284, 43864, 11099, 2909, 35682, 19299, 43874, 27498, 35691, 2926, 19311, 2930, 27507, 2932, 19316, 19318, 19320, 27513, 35704, 43899, 27518, 19326, 27522, 2947, 43908, 2952, 19337, 35720, 11147, 43916, 2961, 19345, 19346, 11158, 11159, 43927, 19351, 11164, 27549, 27563, 43950, 27569, 35761, 11187, 2999, 11192, 35767, 27578, 27579, 43964, 3005, 11198, 43967, 35777, 35780, 27590, 35782, 27595, 35789, 3023, 11217, 35793, 11221, 35798, 19414, 3033, 11228, 27613, 43998, 3042, 11234, 19433, 35820, 19438, 44018, 3065, 27642, 44028, 11261, 19455, 3072, 19461, 19462, 27657, 35849, 3088, 27665, 35858, 11284, 27669, 11286, 44054, 3096, 27676, 11294, 35874, 3107, 19492, 11300, 19490, 44078, 3119, 27698, 11316, 19509, 27702, 3131, 27707, 11328, 11334, 3146, 27723, 11340, 19532, 11346, 27730, 19544, 19546, 11355, 19548, 44122, 44123, 3164, 3166, 19561, 3187, 27770, 44156, 27774, 11391, 35968, 3200, 35974, 3207, 44168, 44170, 3211, 35982, 11413, 35992, 44184, 3228, 11421, 3231, 19616, 27808, 3232, 11423, 19620, 36000, 11430, 3239, 19626, 44207, 3247, 36020, 11446, 3255, 44216, 3256, 11460, 3269, 27844, 36040, 19657, 27853, 36045, 11474, 36053, 11477, 44246, 3291, 11484, 19676, 3297, 36068, 44262, 11500, 44270, 19706, 27898, 11516, 19708, 19709, 3330, 36101, 11526, 44293, 3338, 27915, 11532, 19727, 44309, 3351, 11544, 11550, 27935, 36130, 44323, 44322, 27944, 44328, 3371, 19764, 11573, 19768, 44344, 11578, 3387, 11580, 44349, 19775, 27971, 11591, 19784, 3402, 19786, 19788, 44363, 11595, 19787, 27993, 11614, 19812, 11621, 19814, 36199, 28009, 19819, 19820, 3439, 28018, 28020, 19830, 44409, 3453, 3456, 19842, 3459, 11652, 28037, 36230, 3461, 36232, 11658, 28043, 11659, 28044, 36238, 44432, 19857, 44442, 36251, 3484, 3486, 44449, 36259, 3495, 11688, 11691, 44462, 19889, 44466, 44468, 19896, 3516, 36286, 11713, 44482, 36290, 3531, 3532, 28107, 28112, 36305, 11731, 11732, 36307, 11734, 44500, 44506, 44507, 44508, 28124, 36318, 36322, 3555, 28138, 19946, 28143, 28144, 28145, 44527, 44529, 3572, 3573, 28148, 44534, 11768, 44537, 11770, 3579, 36346, 11773, 3588, 28164, 44548, 3592, 3594, 3597, 28175, 11793, 19986, 36377, 19997, 28194, 20003, 28195, 28196, 44582, 20007, 20009, 44587, 28206, 3631, 20017, 28210, 44595, 44596, 3636, 44598, 20023, 28220, 20029, 36414, 20031, 36420, 44613, 20038, 11851, 36428, 36427, 36431, 44624, 28241, 44626, 3670, 11864, 36443, 20064, 20068, 20072, 28271, 28276, 3703, 20094, 36481, 20099, 28293, 20105, 44684, 3725, 28303, 3736, 3744, 28320, 11938, 3747, 36524, 3759, 28335, 44723, 28343, 28344, 36538, 3773, 3775, 20159, 20161, 36543, 36555, 28365, 36558, 44750, 11983, 44755, 36564, 11988, 36566, 20187, 3805, 28382, 20191, 28384, 36578, 12004, 12007, 12008, 28394, 20203, 44780, 20205, 3822, 12020, 3834, 36604, 12029, 44798, 44801, 3843, 20227, 36616, 28425, 44810, 3851, 36619, 28431, 3856, 3858, 36628, 3863, 36642, 12068, 20266, 20269, 3887, 20271, 44849, 12082, 3895, 3897, 28476, 3901, 3902, 12093, 28478, 36669, 12098, 20291, 44868, 20284, 36678, 28482, 44874, 3916, 20302, 12114, 44883, 28500, 28503, 36697, 20314, 28505, 20321, 12130, 36709, 3942, 3947, 36716, 3949, 3950, 20333, 20337, 44918, 12153, 44922, 3963, 28543, 3969, 12161, 36737, 28548, 44929, 44932, 44934, 20358, 44931, 36747, 3980, 12172, 12175, 44946, 3990, 44958, 44959, 4003, 12198, 4006, 36777, 28586, 44969, 20396, 28589, 36782, 20399, 44975, 4017, 4018, 36788, 4021, 12213, 12214, 36791, 44982, 12218, 28603, 36794, 44983, 44985, 36799, 44990, 36802, 44996, 28618, 20434, 20436, 28629, 36820, 28628, 45016, 36826, 12253, 45022, 36831, 36835, 12260, 4072, 36842, 4080, 20464, 4086, 12280, 20474, 4090, 36858, 20480, 36865, 45066, 12299, 4109, 28686, 45071, 28688, 36882, 20499, 36891, 12315, 28705, 12326, 12329, 28715, 12334, 20527, 36911, 20530, 4147, 20531, 4152, 4155, 4156, 12351, 20544, 45122, 36933, 20551, 4169, 45129, 12362, 4172, 4174, 45137, 20563, 45139, 12373, 12377, 20576, 28773, 4197, 4200, 36969, 45164, 28783, 45167, 20595, 4212, 12405, 45172, 4215, 4217, 45177, 12411, 20608, 28802, 45186, 20612, 37001, 28811, 12428, 4240, 4244, 12438, 37016, 20632, 45208, 20638, 12451, 37028, 28835, 20646, 28841, 4272, 20656, 28849, 20657, 37044, 45237, 12470, 28855, 20664, 37047, 20658, 28859, 4288, 4299, 12491, 12492, 20686, 45259, 4301, 45268, 4309, 28885, 37080, 4315, 28891, 45285, 4326, 28904, 20716, 37100, 28912, 4337, 37105, 20724, 28918, 28922, 12543, 45312, 28932, 28933, 12553, 28937, 20747, 28943, 37136, 4369, 12560, 20757, 45334, 28953, 37146, 45340, 28957, 28961, 20773, 37158, 20775, 20776, 4393, 45349, 4396, 12589, 20782, 45357, 37168, 45362, 37171, 4405, 4409, 4413, 20797, 12609, 37185, 20803, 4422, 37201, 37202, 4435, 12627, 4437, 37203, 37207, 45400, 20825, 20826, 37209, 20829, 29026, 12643, 29029, 37222, 37223, 45417, 29033, 12651, 4460, 37229, 45420, 4462, 4464, 29040, 12655, 20847, 45428, 45433, 12667, 45436, 20868, 29061, 29062, 45444, 37257, 20877, 45453, 20880, 29072, 12690, 4499, 4500, 37269, 12695, 4510, 45471, 29094, 4519, 37288, 29097, 37289, 29098, 12716, 29101, 29104, 4531, 20915, 37305, 37306, 37308, 37309, 29119, 20930, 37314, 4548, 29128, 4553, 20938, 37320, 12748, 20941, 37324, 20953, 37337, 37338, 37344, 4578, 20963, 45539, 37349, 45550, 4592, 12784, 45554, 37363, 4599, 29177, 12794, 4606, 4607, 4613, 37382, 37384, 4621, 4627, 29206, 37401, 37404, 29212, 12830, 37407, 4639, 29222, 37419, 37422, 4655, 21039, 12849, 4656, 4658, 12853, 37431, 12858, 4671, 45632, 45634, 37446, 21062, 29255, 29259, 4685, 45645, 4688, 37459, 45655, 45659, 37471, 12899, 21096, 37483, 12908, 37488, 4721, 29297, 45684, 21108, 12918, 12919, 37495, 4729, 21114, 37496, 29310, 45696, 37507, 45699, 21125, 29318, 21126, 12936, 4745, 29323, 29324, 29325, 21134, 4752, 37520, 4755, 21142, 45719, 21146, 29340, 4766, 12959, 21152, 45731, 4772, 21158, 37545, 4778, 12973, 4782, 29359, 29360, 37550, 45744, 4786, 37556, 12981, 29357, 37559, 21176, 21179, 45756, 12991, 29375, 4801, 29377, 12996, 45766, 21195, 4812, 29391, 37584, 4818, 29397, 29401, 4827, 13025, 13026, 4835, 4838, 37607, 45801, 21226, 29421, 37613, 13042, 13043, 45814, 21242, 21243, 29436, 37627, 29440, 29447, 37639, 13065, 13069, 29455, 37648, 21264, 13074, 4884, 21272, 29465, 21274, 45850, 45853, 13088, 37669, 37670, 13095, 29480, 21289, 45871, 45875, 13110, 37686, 45883, 4925, 37695, 45887, 45891, 37706, 37707, 37709, 4942, 45902, 37712, 29523, 29527, 37725, 4958, 13153, 45922, 37731, 21348, 37735, 13161, 4970, 21356, 37741, 37742, 4980, 45940, 4982, 13177, 13181, 13182, 21382, 29582, 45966, 45967, 13198, 21394, 13203, 29586, 13201, 21393, 45975, 29592, 45977, 45978, 5020, 37788, 29601, 21410, 46589, 21413, 45993, 21422, 29614, 37806, 46000, 13234, 21428, 37817, 21437, 5064, 46028, 21453, 21455, 46033, 46034, 21465, 37850, 5081, 29662, 13281, 46051, 46056, 13290, 21483, 21487, 29680, 29682, 21491, 13302, 13305, 29693, 46081, 29698, 37890, 13321, 46091, 21516, 29710, 21524, 37909, 21528, 5147, 29724, 21531, 46107, 46110, 21537, 37921, 13347, 5156, 21541, 21545, 29737, 29738, 21549, 37933, 37934, 5172, 13365, 37940, 21556, 29752, 46135, 13370, 46138, 5180, 37952, 5185, 13384, 5193, 37961, 46157, 5198, 5201, 21586, 29777, 5207, 5209, 29786, 37980, 5214, 29791, 46174, 37986, 29798, 37995, 5228, 29807, 5234, 29814, 21626, 29819, 21631, 5255, 13447, 29835, 46220, 38029, 46222, 38031, 21648, 46224, 29842, 38034, 38037, 38047, 46240, 21666, 21668, 38057, 46253, 5294, 5296, 13493, 21686, 5302, 29881, 13498, 5307, 38076, 5309, 13499, 38079, 13504, 29888, 21698, 5320, 5321, 46281, 13515, 38091, 38093, 29902, 38097, 13525, 21722, 5340, 21725, 13534, 5344, 5346, 5347, 46306, 13552, 5361, 21746, 46320, 13556, 46324, 38134, 46329, 46332, 5374, 38144, 13569, 21762, 29956, 38148, 46340, 5383, 5384, 29967, 46352, 13586, 46357, 5401, 29981, 13603, 21799, 13608, 38184, 21803, 21805, 46386, 21812, 38196, 13626, 46394, 21818, 30010, 46398, 38207, 5440, 46399, 38210, 38208, 21829, 5446, 5450, 13646, 46414, 38222, 21847, 30042, 21851, 5471, 46431, 21857, 38242, 38243, 46433, 21861, 30059, 30061, 5492, 30068, 38262, 46452, 46458, 46459, 13691, 38275, 21892, 46468, 38277, 13711, 38287, 38292, 38293, 5526, 30102, 38296, 5529, 21914, 30105, 46486, 46491, 30110, 21919, 46496, 46494, 38307, 5540, 5548, 13744, 46512, 13747, 46518, 5561, 21946, 5565, 46531, 38344, 13768, 30156, 46540, 30158, 46545, 30163, 46548, 5590, 46550, 13784, 30170, 46565, 38377, 38385, 22002, 46579, 38389, 22006, 5623, 13815, 13817, 13820, 38397, 30206, 38399, 5632, 30208, 30209, 46594, 13826, 13827, 22022, 46590, 30218, 5647, 46608, 22033, 13843, 5652, 13845, 30230, 46617, 22042, 5663, 46632, 46634, 22060, 38446, 5679, 38449, 5683, 22068, 5687, 38457, 22075, 13884, 30268, 38461, 30274, 30276, 30277, 13897, 5709, 22094, 22101, 30295, 5720, 13913, 22106, 22109, 13918, 30302, 38497, 46692, 46695, 38504, 30313, 13933, 38513, 22130, 38518, 5753, 30329, 13949, 30334, 38533, 5766, 46739, 13971, 22165, 38551, 38552, 5788, 22173, 46749, 30369, 5803, 46763, 5808, 30384, 46769, 14005, 30397, 5823, 46785, 30402, 38594, 5832, 30412, 46800, 22225, 5841, 38611, 38608, 22230, 38614, 14043, 5853, 5854, 38625, 22241, 14053, 46823, 30444, 22254, 30450, 14067, 38643, 30456, 22264, 46846, 38656, 30468, 38660, 14085, 22281, 14102, 5916, 14108, 46876, 5921, 38691, 14118, 5928, 14123, 22317, 46894, 30513, 38713, 14151, 46923, 22348, 5963, 22350, 22351, 38740, 46933, 5977, 46938, 38747, 30558, 5983, 14178, 46946, 22373, 30569, 22378, 22379, 38766, 38768, 22387, 14195, 6005, 30582, 46967, 30584, 14203, 22396, 38780, 38782, 6015, 14213, 22405, 38792, 14217, 38793, 46985, 38794, 46991, 22422, 6039, 30615, 14234, 38811, 22429, 47006, 30623, 30624, 47009, 6051, 30628, 14246, 38826, 6059, 47019, 14254, 14255, 30638, 30641, 47025, 30656, 30660, 14280, 47050, 47051, 22474, 30670, 30673, 30677, 47065, 22495, 30687, 38881, 30693, 22502, 38886, 30698, 47083, 30700, 22510, 38895, 6129, 6131, 30707, 30711, 30713, 14330, 30723, 47108, 14340, 47107, 30727, 14344, 14348, 47116, 38926, 47118, 22540, 22545, 47122, 38932, 14360, 30744, 14363, 22556, 47134, 6176, 38945, 6178, 14370, 38946, 30757, 14368, 22561, 47145, 6186, 38959, 38963, 30773, 30776, 30781, 14398, 47165, 30784, 47166, 47171, 14410, 38993, 14418, 38994, 47189, 22614, 6231, 14430, 6242, 30821, 30822, 14441, 22633, 30827, 47212, 47213, 30830, 22639, 47217, 22644, 47225, 47226, 14459, 47230, 47235, 47241, 6284, 6285, 39052, 39060, 22677, 39069, 47266, 14499, 39078, 6314, 39086, 6319, 30897, 47282, 47284, 30902, 47287, 47289, 47292, 47298, 6342, 14534, 14535, 14536, 30922, 22731, 14541, 6351, 30930, 14548, 47318, 47319, 6360, 22742, 47322, 6364, 22751, 14562, 30947, 22757, 6376, 14571, 47340, 39147, 14574, 14577, 14578, 22771, 14582, 47352, 14584, 6395, 14592, 30977, 22786, 39172, 22788, 39174, 6407, 39175, 22790, 14602, 22795, 22798, 39184, 47376, 14618, 6432, 39203, 22820, 39209, 31018, 6448, 22833, 39221, 14646, 31032, 22841, 31036, 22848, 39234, 31043, 47426, 39245, 22861, 14672, 47444, 31061, 31062, 14688, 31073, 14692, 22885, 6510, 31089, 22898, 31094, 6521, 22907, 14717, 14718, 22910, 31101, 31108, 14725, 47492, 6533, 6536, 6542, 31118, 22928, 39312, 47502, 31123, 6549, 14742, 31128, 14746, 39322, 6558, 39327, 47521, 6564, 22951, 39336, 39344, 14772, 47541, 39351, 39358, 6591, 22976, 39361, 22981, 39366, 22983, 31178, 47564, 47566, 47568, 22997, 47575, 31193, 23009, 31201, 39400, 39402, 23019, 6640, 31220, 6646, 23032, 47610, 39423, 31235, 39430, 6663, 39431, 14857, 14859, 14860, 39435, 39436, 31247, 476

In [9]:
print("Percent to drop:\n", (len(indices_to_drop) / data.shape[0]) * 100, "%")

Percent to drop:
 7.411653904426519 %

This is a large portion of data to drop, but I think it will be worth it. Using cross-validation will help mitigate this loss of data.

In [10]:
data_no_mv = data.copy()

In [11]:
data_no_mv = data_no_mv.drop(indices_to_drop, axis=0)
data_no_mv = data_no_mv.reset_index(drop=True)
data_no_mv

,age,work class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K.
45218,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
45219,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
45220,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
45221,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [12]:
data_no_mv.shape

(45222, 15)

## Categorical data

In [13]:
categorical_names = ["work class", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

categorical_df = data_no_mv.copy()
category_only = categorical_df.loc[:,categorical_names]

categorical_df.head()

,age,work class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
# We'll start with income class 
categorical_df["income class"] = categorical_df["income class"].map({"<=50K": 0, "<=50K.": 0, ">50K": 1, ">50K.": 1})
print(np.unique(categorical_df["income class"]))

categorical_df.head()

[0 1]

,age,work class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [15]:
# List so we know how each category names are mapped
mappings_list = []

for name in categorical_names: 
    mappings = []
    label_enc = LabelEncoder()
    labels = label_enc.fit_transform(categorical_df[name])
    col_name = name + " labels"
    categorical_df[col_name] = labels
    
    for index, label in enumerate(label_enc.classes_):
        mappings.append({label: index})
    mappings_list.append(mappings)
    
categorical_df.head()

,age,work class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,hours-per-week,native-country,income class,work class labels,marital-status labels,occupation labels,relationship labels,race labels,sex labels,native-country labels
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,40,United-States,0,5,4,0,1,4,1,38
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,13,United-States,0,4,2,3,0,4,1,38
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,40,United-States,0,2,0,5,1,4,1,38
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,40,United-States,0,2,2,5,0,2,1,38
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,40,Cuba,0,2,2,9,5,2,0,4

In [16]:
print(mappings_list)

[[{'Federal-gov': 0}, {'Local-gov': 1}, {'Private': 2}, {'Self-emp-inc': 3}, {'Self-emp-not-inc': 4}, {'State-gov': 5}, {'Without-pay': 6}], [{'Divorced': 0}, {'Married-AF-spouse': 1}, {'Married-civ-spouse': 2}, {'Married-spouse-absent': 3}, {'Never-married': 4}, {'Separated': 5}, {'Widowed': 6}], [{'Adm-clerical': 0}, {'Armed-Forces': 1}, {'Craft-repair': 2}, {'Exec-managerial': 3}, {'Farming-fishing': 4}, {'Handlers-cleaners': 5}, {'Machine-op-inspct': 6}, {'Other-service': 7}, {'Priv-house-serv': 8}, {'Prof-specialty': 9}, {'Protective-serv': 10}, {'Sales': 11}, {'Tech-support': 12}, {'Transport-moving': 13}], [{'Husband': 0}, {'Not-in-family': 1}, {'Other-relative': 2}, {'Own-child': 3}, {'Unmarried': 4}, {'Wife': 5}], [{'Amer-Indian-Eskimo': 0}, {'Asian-Pac-Islander': 1}, {'Black': 2}, {'Other': 3}, {'White': 4}], [{'Female': 0}, {'Male': 1}], [{'Cambodia': 0}, {'Canada': 1}, {'China': 2}, {'Columbia': 3}, {'Cuba': 4}, {'Dominican-Republic': 5}, {'Ecuador': 6}, {'El-Salvador': 7}, {'England': 8}, {'France': 9}, {'Germany': 10}, {'Greece': 11}, {'Guatemala': 12}, {'Haiti': 13}, {'Holand-Netherlands': 14}, {'Honduras': 15}, {'Hong': 16}, {'Hungary': 17}, {'India': 18}, {'Iran': 19}, {'Ireland': 20}, {'Italy': 21}, {'Jamaica': 22}, {'Japan': 23}, {'Laos': 24}, {'Mexico': 25}, {'Nicaragua': 26}, {'Outlying-US(Guam-USVI-etc)': 27}, {'Peru': 28}, {'Philippines': 29}, {'Poland': 30}, {'Portugal': 31}, {'Puerto-Rico': 32}, {'Scotland': 33}, {'South': 34}, {'Taiwan': 35}, {'Thailand': 36}, {'Trinadad&Tobago': 37}, {'United-States': 38}, {'Vietnam': 39}, {'Yugoslavia': 40}]]

In [17]:
# Let's remove the rows that have the actual names
categorical_df.drop(categorical_names, axis=1,inplace=True)
categorical_df.reset_index(drop=True)
categorical_df.head()

,age,fnlwgt,education,education-num,capital-gain,capital-loss,hours-per-week,income class,work class labels,marital-status labels,occupation labels,relationship labels,race labels,sex labels,native-country labels
0,39,77516,Bachelors,13,2174,0,40,0,5,4,0,1,4,1,38
1,50,83311,Bachelors,13,0,0,13,0,4,2,3,0,4,1,38
2,38,215646,HS-grad,9,0,0,40,0,2,0,5,1,4,1,38
3,53,234721,11th,7,0,0,40,0,2,2,5,0,2,1,38
4,28,338409,Bachelors,13,0,0,40,0,2,2,9,5,2,0,4

In [18]:
# Rearrange cols. Drop education since we have eduction num
categorical_df = categorical_df[["age","fnlwgt","education-num","capital-gain","capital-loss","hours-per-week",
                                 "work class labels", "marital-status labels", "occupation labels", 
                                 "relationship labels", "race labels", "sex labels", "native-country labels",
                                 "income class"]]
categorical_df.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,work class labels,marital-status labels,occupation labels,relationship labels,race labels,sex labels,native-country labels,income class
0,39,77516,13,2174,0,40,5,4,0,1,4,1,38,0
1,50,83311,13,0,0,13,4,2,3,0,4,1,38,0
2,38,215646,9,0,0,40,2,0,5,1,4,1,38,0
3,53,234721,7,0,0,40,2,2,5,0,2,1,38,0
4,28,338409,13,0,0,40,2,2,9,5,2,0,4,0

## Check Distributions

In [ ]:
P

In [19]:
# Save to csv
categorical_df.to_csv(data_path+"preprocessed.csv", index=False)

In [23]:
# Going to save the mappings to a csv as well
pd.DataFrame(mappings_list).to_csv(data_path+"mappings.csv", index=False)